# Python ignores
backend/venv/
backend/alembic/README
backend/uploads
__pycache__/
*.pyc

# Node.js ignores
frontend/node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
frontend/public/build/
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Config file
.env